/*
	Any and all CSS for the Projects section should go here
*/
.addNewProject, .pInfos, .notifyP, .editProjects {
	margin-top: 4%;
}
.inUse {
	color: red;
	font-size: 13px;
}
#inUse, .addNewProject {
	display: none;
}